
<ul>
  <% @place.each do |place| %>
  <li>
  	<p>
  	<%= link_to place.title, "/places/#{place.title}" %>
  	</p>
  	<p>
  	<%= link_to "Delete", "/places/#{place.title}/delete" %>
  	</p>
  </li>
 <% end %>
</ul>