<ul>

<li><p>Title: <input title="title" type = "text" maxlength = "255" placeholder = "Title"></p></li>
<p></p>

<li><p>Photo URL: <input photourl ="photo_url" type = "text" placeholder ="Photo URL"></p></li>
<p></p>

<li><p>Admission Price: <input admissionprice ="admission_price" type = "integer" placeholder = "Admission Price"></p></li>
<p></p>

<li><p>Description: </p>
    <p><textarea description = "description" type = "text"> Description goes here.</textarea></p></li>
<p></p>
<p></p>

<li><input type = "submit" value = "Submit">
  <%=link_to "submit","/places/submit_new" %>
  </li>

<p></p>
</ul>